

.h3, h3 {
	display: block;
	/*text-align: center; */
	/*color: #329D9C; */
}

.h2, h2 {
	text-align: center; 
	color: #205072;
	font-family: 'Nunito';
	font-size: 55;
	font-weight: bold;
}

.txtPatient {
	display: inline;
	color: #205072;
	font-weight: bold;
}

.frame{  
    width: 250px;
    height: 200px;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
} 

.chart-container {
	display: block;
	justify-content: center;
	margin: auto;	
	vertical-align: middle;
	justify-content: center;
/*  	position: absolute; */
  	top: 50%; 
	
}
.container-histCapa {
	width: 8000px;
	height: 150px;

}
.container-histAgil {
	width: 8000px;
	height: 150px;

}

.highcharts-stabIndic .chart-container {
	display: flex;
	justify-content: center;	
	padding: 6px;
	width: 250px;
	height: 200px;
	float: left;
}

.highcharts-stabIndic, .highcharts-data-table table {
	width: 1000px;
	margin: 0 auto;
}

.centerBlock {
	width: 300px;
	margin: auto;
}

.highcharts-statsJauge .chart-container {
	display: flex;
	justify-content: center;
  	padding: 6px;
	width: 310px;
	height: 310px;
	float: left;
	margin: auto;
}


.highcharts-statsJauge, .highcharts-data-table table {
	width: 600px;
	margin: 0 auto;
}

.figure {
	display: table-cell;
	text-align: center;
}

.highcharts-figure2 .chart-container {
	padding: 6px;
	width: 220px;
	height: 150px;
	float: left;
	margin: auto;
	vertical-align: middle;
	justify-content: center;
  /*position: absolute;
  	top: 50%; */

}

.highcharts-figure2, .highcharts-data-table table {
	width: 300px;
	margin: 0 auto;
}

.highcharts-figure2 .chart-container > .col-4:first-child{
   margin-left: 220;
   padding-left: 220;
   width: calc(25% - 15px);
}

.highcharts-figure2 .chart-container > .col-4:last-child{
   margin-left: 110;
   padding-left: 120;
   width: calc(25% - 15px);
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

@media (max-width: 600px) {
	.highcharts-figure2, .highcharts-data-table table {
		width: 100%;
	}
	.highcharts-figure2 .chart-container {
		width: 250px;
		float: none;
		margin: 0 auto;
	}
	.highcharts-stabIndic, .highcharts-data-table table {
		width: 100%;
	}
	.highcharts-stabIndic .chart-container {
		width: 250px;
		float: none;
		margin: 0 auto;
	}

}

.shadowBoxflex{
	border-width: 1px;
	border-style: none; */
	background: rgba(255, 255, 255, 0.05);  /*rgba(32, 80, 114, 0.95);  */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.05);
	padding: 15px;
	margin: 0px;
  	border-radius: 0px;

 	display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    background-color: #F7F6FB; 

}

.shadowBox{
	height: 350px;
	border-width: 1px;
	border-style: none; */
	background: rgba(255, 255, 255, 0.05);  /*rgba(32, 80, 114, 0.95);  */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.05);
	padding: 15px;
	margin: 0px;
  	border-radius: 0px;

 	display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    background-color: #F7F6FB; 

}

.shadowBoxPatient{
	height: 450px;
	border-width: 1px;
	border-style: none; */
	background: rgba(255, 255, 255, 0.05);  /*rgba(32, 80, 114, 0.95);  */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.05);
	padding: 15px;
	margin: 0px;
  	border-radius: 0px;

 	display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    background-color: #F7F6FB; 

}



.container{
	/*
	border-style: solid;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	padding: 30px;
	*/
	background-color: rgba(0, 0, 0, 0.00); 
}

.corps{
	/*
	border-style: solid;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	padding: 30px;
	*/
	background-color: #f1f4f6; 
}

.patient_img {
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.patient_img img {
    width: 80px
}




@media screen and (min-width: 768px) {

    .patient_img {
        width: 80px;
        height: 80px;
	    display: flex;
 	    justify-content: center;
    }

    .patient_img img {
        width: 90px
    }

}


.form-group{
    margin-top: 20px;

}

.btn-block {
	margin: 20px;
}


label {
	color: #329d9c;
  /*font : .8em "typewriter", sans-serif;*/
}

.success{
    color: #00d856;
	background-color: #c2ffba;
}

.error{
	color: #D8000C;
	background-color: #FFBABA;
}