<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"> <!-- ../bootstrap5_lib/css/boxicons.min.css"> -->
        <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css"> 
        <link rel="stylesheet" href="../static/css/design_sidebar.css"> 
        <link rel="stylesheet" href="../static/css/design.css"> 

        <title>Smarche monitoring</title>
    </head>

    <body id="body-pd">
        <script src="../static/js/highcharts/highcharts.js"></script>
        <script src="../static/js/highcharts/highcharts-more.js"></script>
        <script src="../static/js/highcharts/data.js"></script>
        <script src="../static/js/highcharts/solid-gauge.js"></script>

        <header class="header" id="header">
            <div class="header_toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <div class="header_img">
                <img src="../img/medecin1.jpg" alt="">
            </div> 
        </header>

        <script src="../static/css/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../static/js/script_sidebar.js"></script>    

        <!--===============================================-->
        <!--Container Main start-->
        <!--===============================================-->

        <div class=" corps"> 
            <div id="current-values" class="container ">

                <h2> Plateforme d'évaluation </h2>

                <br>
                <div class="row">
                    <div class="col-12 ">
                        <div class="shadowBox">
                            <figure class="highcharts-stabIndic">
                                <p style="text-align: center;">  </p>
                                <div id="container-stabIndic" class="col-12 "> </div>
                            </figure>
                        </div>       
                    </div>
                </div>

                </br>
                <div class="row"> <!--container-fluid-->
                    <div class="col-3 ">
                        <div class="shadowBox">
                            <figure class="highcharts-figure2">
                                <p style="text-align: center; color:#329D9C; font-family: 'Nunito'; font-size: 20px;"> Capacité de la marche </p>
                                <div id="container-walking" class="chart-container"> </div>
                            </figure>
                        </div>       
                    </div>
                    

                    <div class="col-9">
                        <div class="row ">
                            <div class="shadowBox">
                                <div class="col-4">
                                    <figure class="highcharts-figure2">
                                        <p style="text-align: center; ; color:#329D9C; font-family: 'Nunito'; font-size: 20px;"> Durée du relachement </p>
                                        <div id="container-Trelachement" class="chart-container"> </div>
                                    </figure>
                                </div>
                                
                                <div class="col-4">
                                    <figure class="highcharts-figure2">
                                        <p style="text-align: center; ; color:#329D9C; font-family: 'Nunito'; font-size: 20px;"> Durée de l'appui </p>
                                        <div id="container-Tappui" class="chart-container"> </div>  
                                    </figure>
                                </div>
                                    
                                <div class="col-4">
                                    <figure class="highcharts-figure2">
                                        <p style="text-align: center; ; color:#329D9C; font-family: 'Nunito'; font-size: 20px;"> Fréquence de marche </p>
                                        <div id="container-freq" class="chart-container"> </div>  
                                    </figure>            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <br>

                <div class="row">
                    <div class="col-12">
                        <div class="shadowBox">
                            <div id="Load-graph" class="col-10 chart-size"></div>
                            <div id="Load-current" class="col-2 pt-5">
                                Poids gauche :
                                <br>
                                <b class="text-large">{{ Load }}</b> <span class="text-medium">kg</span>
                                <br>
                                Poids droite :
                                <br>
                                <b class="text-large">{{ Load2 }}</b> <span class="text-medium">kg</span>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-12 ">
                        <div class="shadowBox">
                            <div id="Accel_x-graph" class="col-10 chart-size"></div>
                            <div id="Accel_x-current" class="col-2 pt-5">
                                Current Accel_x:
                                <br>
                                <b class="text-large">{{ Accel_x }}</b> <span class="text-medium">m/s²</span>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-12 ">
                        <div class="shadowBox">
                            <div id="Accel_y-graph" class="col-10 chart-size"></div>
                            <div id="Accel_y-current" class="col-2 pt-5">
                                Current Accel_y:
                                <br>
                                <b class="text-large">{{ Accel_y }}</b> <span class="text-medium">m/s²</span>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-12 ">
                        <div class="shadowBox">
                            <div id="Accel_z-graph" class="col-10 chart-size"></div>
                            <div id="Accel_z-current" class="col-2 pt-5">
                                Current Accel_z:
                                <br>
                                <b class="text-large">{{ Accel_z }}</b> <span class="text-medium">m/s²</span>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

            </div>
        </div>


        <script src="../static/js/highcharts/jquery-3.5.1.js"></script>
        <!--<script src="../highcharts_lib/highcharts.js"></script> -->
        <script src="../static/js/highcharts/npm/vue"></script>
        <script src="../static/js/script.js"></script>
    </body>
</html>
